.tg-card {
  padding: 26px 32px 32px 32px;
  border-radius: 0.5rem;

  &__header {
    display: flex;
    margin-bottom: 16px;

    img {
      width: 28px;
      height: auto;
      border-radius: 50%;
    }
    h2 {
      margin-left: 17px;
      span {
        display: block;
      }
    }
  }

  &__testimonial {
    strong {
      display: block;
      margin-bottom: 1.25rem;
    }
  }

  &:nth-child(2) {
    background-color: var(--tg-color-violet);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-position: calc(100% - 24px) 0;
    background-repeat: no-repeat;
    color: var(--tg-color-lightgray);

    h2 {
      color: var(--tg-text-light);
      span {
        color: var(--tg-subtext-light);
      }
    }

    img {
      box-sizing: content-box;
      border: 2px solid var(--tg-subtext-light);
    }

    blockquote strong {
      margin-bottom: 3rem;
    }

    blockquote > p:nth-child(2) {
      padding-right: 16px;
    }
  }

  &:nth-child(3) {
    background-color: var(--tg-color-grayblue);
    color: var(--tg-text-light);
    h2 {
      span {
        color: var(--tg-subtext-light);
      }
    }
  }

  &:nth-child(4) {
    background-color: var(--tg-color-white);
    color: Var(--tg-text-dark);
    h2 {
      span {
        color: var(--tg-subtext-dark);
      }
    }
  }

  &:nth-child(5) {
    background-color: var(--tg-color-blackblue);
    color: var(--tg-text-light);
    h2 {
      span {
        color: var(--tg-subtext-light);
      }
    }
  }

  &:nth-child(6) {
    background-color: var(--tg-color-white);
    color: Var(--tg-text-dark);
    h2 {
      span {
        color: var(--tg-subtext-dark);
      }
    }
  }
}
