/* Theme specific custom props can go here */

:root {
  --tg-violet: hsl(263, 55%, 52%);
  --tg-grayblue: hsl(217, 19%, 35%);
  --tg-blackblue: hsl(219, 29%, 14%);
  --tg-white: hsl(0, 0%, 100%);

  --tg-lightgray: hsl(0, 0%, 81%);
  --tg-lightgb: hsl(210, 46%, 95%);
}