:root {
  /* Raw HSL values */
  --tg-value-violet: 263, 55%, 52%;
  --tg-value-grayblue: 217, 19%, 35%;
  --tg-value-blackblue: 219, 29%, 14%;
  --tg-value-white: 0, 0%, 100%;
  --tg-value-lightgray: 0, 0%, 81%;
  --tg-value-lightgb: 210, 46%, 95%;

  /* Constructed Colors */
  --tg-color-violet: hsl(var(--tg-value-violet));
  --tg-color-grayblue: hsl(var(--tg-value-grayblue));
  --tg-color-blackblue: hsl(var(--tg-value-blackblue));
  --tg-color-white: hsl(var(--tg-value-white));
  --tg-color-lightgray: hsl(var(--tg-value-lightgray));
  --tg-color-lightgb: hsl(var(--tg-value-lightgb));

  /* Font Size */
  --tg-font-body-size: 13px;

  /* Text and Subheading Colors */
  --tg-text-dark: var(--tg-color-grayblue);
  --tg-subtext-dark: hsla(var(--tg-value-grayblue), 50%); /* 50% opacity */

  --tg-text-light: var(--tg-color-lightgb);
  --tg-subtext-light: hsla(var(--tg-value-lightgb), 50%); /* 50% opacity */
}
